<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="logo-ionic" slot="start"></ion-icon>
      @ionicframework
    </ion-item>
    <ion-card>
      <ion-card-header>
          This is a ion-card-header
        <ion-card-title>
          this is the ion-card-title
        </ion-card-title>        
      </ion-card-header>
      <ion-card-content>
          This is a new ion-card-content
      </ion-card-content>
      <ion-card-subtitle>
        This is a ion-card-subtitle
      </ion-card-subtitle>
    </ion-card>
  </ion-list>
</ion-content>
